video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  border: .5px #FEFEFE;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  position: relative;
  font-family: 'Fira Sans',sans-serif;
  font-size: 0.75em
  color: #DCD0FF;
}
