video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
 <div class="header">
  position: relative;
  font-family: "Neue Haas Unica Pro";
  color: purple;
}
 
