video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.body {
  position: relative;
  font-family: "Neue Haas Unica Pro";
  color: purple;
background-color: #FEF7F6
}
 
