header{
  position: relative;
  margin: 21.44px 0px
  font-family: 'Fira Sans',sans-serif;
  font-size: 32px
  color: #DCD0FF;
}
h1{
color: purple;
padding-left: 11em;
font-family:'Fira Sans',sans-serif;
background-color: #FEF7F6
}
h2{
color: purple;
padding-left: 11em;
font-family:'Fira Sans',sans-serif;
background-color: #FEF7F6
}
h3{
color: purple;
padding-left: 11em;
font-family:'Fira Sans',sans-serif;
background-color: #FEF7F6
}

